body{ 
    background-color: #6D8764;} /*Changes the background colour to Moss Green */


h1{   font-weight: bold;  /* Makes the text bold */
    border: 2px solid black; /* Adds a border that is black and solid which is 2 pixels */
    padding: 20px; /* Adds 20px of space inside the heading, between the content and its border */
    color: black; /* Makes the text colour black */
background-color: #A0522D; /*Changes the background colour to Sienna */
width: 700px; /*Makes the width to 700 pixels */
text-align:center; /*Aligns the text in the center of the page */
position: absolute; left: 35%; /* Positions the heading 35% up from the left */
border-radius: 40px; /* Makes the corners round of the heading with a radius of 40 pixels */
font-size: 70px; /* Makes the font-size/text-size to 70 pixels*/
line-height: 40px;/*Makes the vertical spacing/line height to 40px */
}
img{width: 360px;
height: 300px;
position:absolute; left: 0%;}

h2{
    font-weight: bold;
    border: 2px solid black;
    padding: 15px;
    color: black    ;
background-color: #A0522D;
width: 400px;
text-align:center;
position: absolute; left: 41%;
border-radius: 240px;
font-size: 50px;
line-height: 20px;
position: absolute; top: 15%;
text-decoration: underline ;}

P{font-weight: normal;
border: 1px dashed black;
background-color: #A0522D;
padding: 15px;
width: 1400px;
font-size: 40px;
position:absolute; top: 30%;
line-height: 70px;
position: absolute; left: 21%;}

.dropbtn {
  background-color: #A0522D;
  color: black;
  padding: 15px;
  font-size: 50px;
  border: solid black;
  border-radius: 20px;
  width: 250px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute; top: auto;
    background-color: #A0522D;
    width: 160px;
    border: dashed black;
    font-size: 20px;
    text-decoration: underline;
    margin-left: 0px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 20px 24px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #FFCC99;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #FFCC99;}

  .potionbtn {
    background-color: #A0522D;
    color: black;
    padding: 15px;
    font-size: 50px;
    border: solid black;
    border-radius: 20px;
    width: 250px;

  }
  
  .potiondown {
    position: relative;
    display: inline-block;
  }
  
  .potion-content {
    display: none;
    position: absolute; top: auto;
    background-color: #A0522D;
    width: 160px;
    border: dashed black;
    font-size: 20px;
    text-decoration: underline;
    margin-left: 0px;
   
  }
  
  .potion-content a {
    color: black;
    padding: 20px 24px;
    text-decoration: none;
    display: block;
  }
  
  .potion-content   a:hover {background-color: #FFCC99;}
  
  .potiondown:hover .potion-content {display: block;}
  
  .potiondown:hover .potionbtn {background-color: #FFCC99;}

  .armourbtn {
    background-color: #A0522D;
    color: black;
    padding: 15px;
    font-size: 50px;
    border: solid black;
    border-radius: 20px;
    width: 250px;
    
  }
  
  .armourdown {
    position: relative;
    display: inline-block;
  }
  
  .armour-content {
    display: none;
    position: absolute; top: auto;
    background-color: #A0522D;
    width: 160px;
    border: dashed black;
    font-size: 20px;
    text-decoration: underline;
    margin-left: 0px;
    
   
  }
  
  .armour-content a {
    color: black;
    padding: 20px 24px;
    text-decoration: none;
    display: block;
  }
  
  .armour-content   a:hover 
  {
    background-color: #FFCC99;
  }
  
  .armourdown:hover .armour-content 
  {
    display: block;
  }
  
  .armourdown:hover .armourbtn 
  {
    background-color: #FFCC99;
  }




  div{
position: absolute; top: 65%;
margin-left: 450px;

}





