body{ 
    background-color: #6D8764; /*Changes the background colour to Moss Green */
    
        }

button
{
background-color: #A0522D;  /*Changes the background colour to Sienna */
font-size: 35px;    /*Changes the font-size to 35 pixels */
font-style: Montserrat;  /*Changes the font to the google font Montserrat */
width: 260px;   /*Makes the width to 260 pixels */
line-height: 2;  /*Makes the line-height/vertical spacing to 2 */
position:absolute; bottom: 1.5%; /*Changes the position of the button from the bottom by 1.5% */
margin: 2%; /* Adds 2% spacing around all sides of the elements within the div */
}

img
{
width:600px; /*Makes the width to 600 pixels */
position:absolute; right: 15%; /*Changes the position of the button from the right by 15% */
position:absolute; top: 15%; /*Changes the position of the button from the top by 15% */
border-style:solid; /* Makes the border a solid line */
}

div{
position:absolute; left: 15%; /*Changes the position of the elements in the div from the left by 15% */
width: 240px; /*Makes the width to 240 pixels */
margin-left: 10%; /* Shifts the elements in the div to the left by 10% to adjust alignment or positioning */
position:absolute; top: 5%; /* Shifts the elements in the div to the top by 5% to adjust alignment or positioning */
}


h1
{
margin-left: 11.3%; /* Shifts the heading to the left by 11.3% to adjust alignment or positioning */
margin-top: 28%; /* Shifts the heading to the top by 28% to adjust alignment or positioning */
font-weight: bold;  /* Makes the text bold */
border: 2px solid black; /* Adds a border that is black and solid which is 2 pixels */
padding: 20px; /* Adds 20px of space inside the heading, between the content and its border */
color: black; /* Makes the text colour black */                      
font-size: 70px; /*Changes the font-size to 70 pixels */
line-height: 50px; /*Makes the line-height/vertical spacing to 50 pixels */
background-color: #A0522D; /*Changes the background colour to Sienna */
width: 450px; /*Makes the width to 450 pixels */
text-align: center; /*Aligns the text in the center of the page */
}


p{
position:absolute; right: 15%; /*Changes the position of the paragraph from the right by 15% */
font-weight: normal; /* Makes the text normal */
border: 1px dashed black; /* Adds a border that is dashed and solid which is 1 pixel */
background-color: #A0522D; /*Changes the background colour to Sienna */
padding: 15px;  /* Adds 15px of space inside the paragraph, between the content and its border */
width: 575px; /*Makes the width to 575 pixels */
font-size: 40px;/*Changes the font-size to 40 pixels */
position:absolute; top: 38%;} /* Shifts the paragraph to the top by 38% to adjust alignment or positioning */


